<html>
<head>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Times+New+Roman:400,600&subset=latin,cyrillic);

        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: "Times New Roman", serif;
        }

        nav {
            background: #d6d8e3;
        }

        nav ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        nav ul:after {
            content: "";
            display: table;
            clear: both;
        }

        nav a {
            text-decoration: none;
            display: block;
            transition: .3s linear;
        }

        .topmenu > li {
            float: left;
            position: relative;
            border-left: 1px solid black;
        }

        .topmenu > li:first-child {
            border-left: 0;
        }

        .topmenu > li > a {
            padding: 1px 30px;
            font-size: 12px;
            text-transform: uppercase;
            color: black;
            letter-spacing: 2px;
        }

        .topmenu > li > a.active,
        .submenu a:hover {
            color: crimson;
        }

        .topmenu .fa,
        .submenu .fa {
            margin-left: 5px;
            color: inherit;
        }

        .submenu {
            position: absolute;
            z-index: 5;
            min-width: 200px;
            background: white;
            border-top: 1px solid #CBCBCC;
            border-left: 1px solid #CBCBCC;
            border-right: 1px solid #CBCBCC;
            visibility: hidden;
            opacity: 0;
            transform-origin: 0% 0%;
            transform: rotateX(-90deg);
            transition: .3s linear;
        }

        .submenu li {
            position: relative;
        }

        .submenu li a {
            color: #282828;
            padding: 10px 20px;
            font-size: 13px;
            border-bottom: 1px solid #CBCBCC;
        }

        .submenu .submenu {
            position: absolute;
            left: 100%;
            top: -1px;
            transition: .3s linear;
        }

        nav li:hover > .submenu {
            transform: rotateX(0deg);
            visibility: visible;
            opacity: 1;
        }

        .button1 {
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            border-radius: 4px;
            background-color: white;
            color: black;
            border: 2px solid #008CBA;
        }

        .button1:hover {
            background-color: #008CBA;
            color: white;
        }
    </style>
</head>
<body style="background-color: #d6d8e3">
<h1 align="center" style="color: crimson">Здравствуйте!</h1>
<hr style="width: 100%; color: rgb(151, 7, 11);">
<form style="text-align: right" action="/logout" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <input style="padding: 5px" type="submit" value="Выйти"/>
</form>
<hr style="width: 100%; color: rgb(151, 7, 11);">
<nav>
    <ul class="topmenu">
        <li><a href="" class="active">Главная<span class="fa fa-angle-down"></span></a>
            <ul class="submenu">
                <li><a href="/main">На главную<span class="fa fa-angle-down"></span></a>
                <li><a href="/pdata">Ввод данных пенсионера<span class="fa fa-angle-down"></span></a></li>
                <li><a href="/pereplats">Работа с переплатами/недоплатами<span class="fa fa-angle-down"></span></a></li>
            </ul>
        <li><a href="">Работа с переплатами/недоплатами<span class="fa fa-angle-down"></span></a>
            <ul class="submenu">
                <li><a href="/pereplats">Расчет суммы переплат</a></li>
                <li><a href="/mistakes">К причинам переплаты >><span class="fa fa-angle-down"></span></a>
                    <ul class="submenu">
                        <li><a href="/pfrmis">Ошибка ПФР >><span class="fa fa-angle-down"></span></a>
                            <ul class="submenu">
                                <li><a href="/add1create">Формирование - решение об обнаружении ошибки<span
                                        class="fa fa-angle-down"></span></a></li>
                                <li><a href="/add2create">Формирование - протокол о выявлении излишне выплаченных сумм
                                    пенсии<span class="fa fa-angle-down"></span></a></li>
                                <li><a href="/add5create">Формирование - извещение пенсионеру об образовавшейся сумме
                                    переплаты<span class="fa fa-angle-down"></span></a></li>
                            </ul>
                        <li><a href="/pmis">Ошибка пенсионера >><span class="fa fa-angle-down"></span></a>
                            <ul class="submenu">
                                <li><a href="/add3create">Формирование - решение о взыскании сумм пенсии, излишне
                                    выплаченных пенсионеру<span class="fa fa-angle-down"></span></a></li>
                                <li><a href="/add6create">Формирование - извещение пенсионеру об установленном факте
                                    переплаты<span class="fa fa-angle-down"></span></a></li>

                            </ul>
                    </ul>
            </ul>
        <li><a href="/journals">Журналы<span class="fa fa-angle-down"></span></a>
    </ul>
</nav>
<hr style="width: 100%; color: rgb(151, 7, 11);">
<div style="text-align: center">
    <h1>Выберите причину возникновения переплаты-недоплаты</h1>
    <form action="/pfrmis">
        <button style="padding: 10px" class="button button1" type="submit">Ошибка, допущенная при установлении и(или)
            выплате пенсий
        </button>
    </form>
    <form action="/pmis">
        <button style="padding: 10px" class="button button1" type="submit">Переплата, возникшая по вине пенсионера
        </button>
    </form>
</div>
<hr style="width: 100%; color: rgb(151, 7, 11);">
<form style="text-align: center" action="/main">
    <button style="padding: 10px" class="button button1" type="submit">На главную</button>
</form>
</body>
</html>