<html>
<head>
    <link rel="stylesheet" href="../css/style.css">
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(
                function () {
                    // $("input").each(function() {
                    if ($("#mistaker").val() === "P") {
                        $('#add1').removeClass("button button1");
                        $('#add2').removeClass("button button1");
                        $('#add1').addClass("style1");
                        $('#add2').addClass("style1");
                    } else {
                        $('#add3').removeClass("button button1");
                        $('#add9').removeClass("button button1");
                        $('#add3').addClass("style1");
                        $('#add9').addClass("style1");
                    }
                });
    </script>
</head>
<body style="background-color: #d6d8e3">
<h1 align="center" style="color: #2e2c91">Здравствуйте!</h1>
<hr>
<form style="text-align: right" action="/logout" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <p style="float: left; margin-left: 2%">Выбран пенсионер: {{EDFIO}}</p>
    <input style="padding: 10px; clear: both;" class="button button1" type="submit" value="Выйти"/>
</form>
<hr>
<nav>
    <ul class="topmenu">
        <li><a class="active">Главная<span class="fa fa-angle-down"></span></a>
            <ul class="submenu">
                <li><a href="/main">На главную<span class="fa fa-angle-down"></span></a>
                <li><a href="/pdata">Ввод данных пенсионера<span class="fa fa-angle-down"></span></a></li>
            </ul>
        <li><a>Работа с переплатами/недоплатами<span class="fa fa-angle-down"></span></a>
            <ul class="submenu">
                <li><a href="/pereplats">Расчет суммы переплат</a></li>
                <li><a href="/mistakes">К причинам переплаты >><span class="fa fa-angle-down"></span></a>
                    <ul class="submenu">
                        <li><a href="/pfrmis">Ошибка ПФР<span class="fa fa-angle-down"></span></a>
                        <li><a href="/pmis">Ошибка пенсионера<span class="fa fa-angle-down"></span></a>
                    </ul>
            </ul>
        <li><a href="/journals">Журналы<span class="fa fa-angle-down"></span></a>
    </ul>
</nav>
<hr>
<div style="text-align: center">
    <input type="hidden" id="mistaker" name="mistaker" value="{{WHO IS WRONG}}">
    <form action="/editvariants">
        <input type="hidden" id="pensid" name="pensid" value="{{ID}}">
        <input type="hidden" id="fio" name="fio" value="{{EDFIO}}">
        <h2 align="center" style="color: #2e2c91">Редактирование документов</h2>
        <button formaction="/pensedit" name="pereplats4" style="padding: 10px" id="addp"
                class="button button1" type="submit">Данные пенсионера
        </button>
        <button formaction="/add1edit" name="prfmistake1" style="padding: 10px" id="add1"
                class="button button1" type="submit">Решение об обнаружении ошибки
        </button>
        <button formaction="/add2edit" name="prfmistake2" style="padding: 10px" id="add2"
                class="button button1" type="submit">Протокол о выявлении ИВСП
        </button>
        <button formaction="/add3edit" name="pmistake1" style="padding: 10px" id="add3"
                class="button button1" type="submit">Решение о взыскании сумм пенсии
        </button>
        <button formaction="/add9edit" name="pmistake1" style="padding: 10px" id="add9"
                class="button button1" type="submit">Протокол о выявлении ИВСП
        </button>
    </form>
    <br>
    <form action="/addprint">
        <button style="padding: 10px" class="button button1" type="submit">Печать документов</button>
    </form>
</div>
<hr>
<div style="text-align: center">
    <form action="/editvariants">
        <button style="padding: 10px" formaction="/editpage" class="button button1">Назад</button>
    </form>
</div>
<form style="text-align: center" action="/main">
    <button style="padding: 10px" class="button button1" type="submit">На главную</button>
</form>
</body>
</html>